body {
    background-color: #f0f0f0;
    text-align: center; /* Center the content horizontally */
}
.center-gif {
    display: block;
    margin: 20px auto; /* Center the GIF horizontally */
    max-width: 20%;
    height: auto;
}
.image-container {
    display: inline-block;
    text-align: center;
    margin-top: 20px; /* Add some space between GIF and buttons */
}
.image-container img {
    width: 100px;
    height: auto;
    margin: 0 5px; /* Add space between buttons */
}
#audioPlayer {
    display: block;
    margin: 20px auto; /* Center the audio player horizontally */
}
		
